<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'site.css' %}"
</head>
<body>
    <header class="navbar">
        <a href="/" class="navber-brand">Hello Django</a>
        <a href="{% url 'home' %}" class="navbar-item">Home</a>
        <a href="{% url 'about' %}" class="navbar-item">About</a>
    </header>

    <div class="body-content">
        {% block content %}{% endblock %}
        <hr />
        <footer>
            <p>&copy; 2018</p>
        </footer>
    </div>
</body>
</html>